body{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
}

.side-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-image: url(images/damaris-azocar-kgIEVwXO2lM-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 35vw;
}

footer >  p{
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgb(73, 72, 72);
}

footer > p > a{
    color: white;
}

.main-content{
    width: 65%;
}


.side-container > footer{
    margin-bottom: 10px;
}

.logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    height: 280px;
    background-color: black;
    opacity: 0.7;
}

.logo-section > h1{
    font-size: 7rem;
    color: white;
}

.registration{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

.inputs{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.inputs > div{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1.5rem;
}

input{
    width: 300px;
    font-size: 2rem;
}